.App {
  background-color: #ffffff; 
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


h1 {
 text-align: center;
 color:#2c5166
}

h2 {
  background-color: #78d170; 
  font-size: 20px;
}

p {

  background-color:#ffffff; 
  width:95%; 
  padding:10px; 
  color:#1f4b69;
  font-size:17px;
}

.App-link {
  color: #61dafb;
}
